.container {
    width: 95%;
    margin: 20px auto;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #004196;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

.navAdmin {
    display: flex; /* Use flexbox to layout the links */
    justify-content: center; /* Center the links horizontally */
    list-style-type: none; /* Remove default list styling */
    background-color: #f3f3f3; /* Background color of the nav bar */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margins */
}
.navAdmin a {
    display: block; /* Block level links */
    color: #000000; /* Text color */
    text-align: center; /* Center text */
    padding: 14px 20px; /* Padding around the links */
    text-decoration: none; /* No underline */
    font-size: 17px; /* Font size */
}
.navAdmin a:hover {
    color: red; /* Text color on hover */
}
.navAdmin a.active {
    background-color: #788888; /* Background color of the active link */
}