
.infos_article {
    padding: 20px;
    background-color: #F7E3E3;
    width: 75%;
    margin: 50px auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.corpsArticle {
    /* border: 1px solid black; */
    width: 75%;
    margin: 50px auto;
    border-radius: 10px;
}

.mainImageArticle {
    /* border : 1px solid red;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; */

    /* 
    width: 60%; 
    display: flex;
    flex-direction: column; 
    align-items: center;  */

    text-align: center; /* Centre le contenu à l'intérieur de la div */
    width: 85%; /* Utilise la largeur totale de la div parente */
    margin: auto; /* Ajoute une marge automatique pour centrer la div */
    margin-bottom: 50px;
}

.imgMainArticle {
    width: 100%;
    /* display: block; */
    border-radius: 10px;
}

.titre_paragraphe {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.paragraphe {
    margin-bottom: 35px;
    margin-top : 20px;
}
.barreTitre {
    height: 2px;
    background-color: #313131;
    margin-bottom: 10px;
}

.titre_article {
    color: black;
    font-size: 35px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.lectureAuteurDate {
    display:  flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.description {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.tempsLecture,
.auteur,
.date {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 40px;
}

.contenuImage {
    text-align: center; /* Centre le contenu à l'intérieur de la div */
    width: 60%; /* Utilise la largeur totale de la div parente */
    margin: auto; /* Ajoute une marge automatique pour centrer la div */
    margin-bottom: 20px;
    margin-top : 40px;
}

.contenuImageBloc {
    width: 100%;
    /* display: block; */
    border-radius: 10px;
}

.contenuImageTitre {
    margin-top : 20px;
    text-decoration : underline;
}

.titre_tempsLecture,
.titre_auteur,
.titre_date {
    font-weight: bold !important;
    margin-right: 7px;
}

.avis-class {
    text-align: center; /* Centrer le contenu horizontalement */
}

.avis-class-bouton {
    display: flex;
    flex-direction: row; /* Aligner les boutons verticalement */
    justify-content: center;
    gap: 10px; /* Espace entre les boutons */
}

.avis-button {
    border: none;
    padding: 0; /* Supprimer le padding par défaut du bouton */
    background: none;
    cursor: pointer;
}

.avis-button img {
    width: 50px; /* Ajustez la taille de l'image selon vos besoins */
    height: 50px; /* Ajustez la taille de l'image selon vos besoins */
}


/* Style pour le conteneur Flexbox */
.signalement-container {
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligner les éléments enfant à droite */
    z-index: 1001; /* S'assurer qu'il est au-dessus des autres éléments */
}

/* Style pour le bouton de signalement */
.signalement-btn {
    /* Styles pour le bouton (taille, couleurs, etc.) */
    margin-bottom: 10px; /* Ajoutez une marge pour séparer du popup */
}

/* Style pour le popup de signalement */
.signalement-popup {
    display: none; /* Caché par défaut */
    bottom: 100%; /* Positionner juste au-dessus du bouton */
    right: 0;
    z-index: 1000; /* Assurez-vous qu'il est en dessous du bouton pour qu'il apparaisse au-dessus lorsqu'il est affiché */
    /* Autres styles pour le popup (taille, couleurs, box-shadow, etc.) */
}

.signalement-popup .close {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.signalement-popup textarea {
    width: 100%;
    /* Styles pour le textarea */
}

.signalement-popup input[type="submit"] {
    /* Styles pour le bouton d'envoi */
}
