.infos_article {
    padding: 20px;
    background-color: #F7E3E3;
    width: 75%;
    margin: 50px auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .titre_article {
    color: black;
    font-size: 35px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .lectureAuteur {
    display:  flex;
    justify-content: center;
  }
  
  .description {
    font-size: 18px;
    color: #555; /* Couleur de la description */
    margin-bottom: 20px; /* Espacement sous la description */
  }
  
  .tempsLecture,
  .auteur {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px; /* Espacement entre le bloc tempsLecture et auteur */
  }
  
  .titre_tempsLecture,
  .titre_auteur {
    font-weight: bold;
    margin-right: 10px; /* Espacement entre le titre et sa valeur */
  }
  
  /* Ajouter du style au texte à l'intérieur du div si nécessaire */
  .infos_article p,
  .titre_tempsLecture,
  .titre_auteur,
  .valeur_tempsLecture,
  .valeur_auteur {
    font-size: 16px;
    color: #333;
  }
  





/* .file-explorer-container {
    background: #fff;
    width: 90%;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(204, 233, 15, 0.1);
}
#tableArticle {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f9f9f9;
}
.file-icon {
    width: 30px;
    height: auto;
    vertical-align: middle;
}
a {
    text-decoration: none;
    color: #00f;
}
a:hover {
    text-decoration: underline;
} */