
.infos_article {
    padding: 20px;
    background-color: #F7E3E3;
    width: 75%;
    margin: 50px auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.corpsArticle {
    /* border: 1px solid black; */
    width: 75%;
    margin: 50px auto;
    border-radius: 10px;
}

.mainImageArticle {
    /* border : 1px solid red;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; */

    /* 
    width: 60%; 
    display: flex;
    flex-direction: column; 
    align-items: center;  */

    text-align: center;
    width: 85%;
    margin: auto;
    margin-bottom: 50px;
}

.imgMainArticle {
    width: 100%;
    /* display: block; */
    border-radius: 10px;
}

.titre_paragraphe {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.paragraphe {
    margin-bottom: 35px;
    margin-top : 20px;
}
.barreTitre {
    height: 2px;
    background-color: #313131;
    margin-bottom: 10px;
}

.titre_article {
    color: black;
    font-size: 35px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.lectureAuteurDate {
    display:  flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.description {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.tempsLecture,
.auteur,
.date {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 40px;
}

.contenuImage {
    text-align: center;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    margin-top : 40px;
}

.contenuImageBloc {
    width: 100%;
    /* display: block; */
    border-radius: 10px;
}

.contenuImageTitre {
    margin-top : 20px;
    text-decoration : underline;
}

.titre_tempsLecture,
.titre_auteur,
.titre_date {
    font-weight: bold !important;
    margin-right: 7px;
}

.avis-class {
    text-align: center;
}

.avis-class-bouton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.avis-button {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

.avis-button img {
    width: 50px;
    height: 50px;
}


/* Style pour le conteneur Flexbox */
.signalement-container {
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1001;
}

.signalement-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    border-radius: 50%;
}

.signalement-btn:focus {
    outline: none; /* Supprime l'indicateur de focus */
}


.signalement-btn img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgb(128, 128, 128);
    margin-bottom: 5px;

}

/* Style pour le popup de signalement */
.signalement-popup {
    display: none;
    bottom: 100%;
    right: 0;
    z-index: 1000;

}

.signalement-popup .close {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.signalement-popup textarea {
    width: 100%;
    /* Styles pour le textarea */
}

.signalement-popup input[type="submit"] {
    /* Styles pour le bouton d'envoi */
}
