<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{TitreArticle}}</title>
</head>

<body>

<div class="view">
  {% include './blockParagraphe.html' with {
  'titreParagraphe': article.titreParagraphe,
  'contenuParagraphe': article.contenuParagraphe
  } %}

  {% include './blockImage.html' with {
  'imageTitle': article.imageTitre,
  'imagePath': article.imageChemin,
  'imageAlt': article.imageAlt
  } %}

  {% include './blockVideo.html' with {
  videoTitle': article.videoTitre,
  'videoLink': article.videoLink
  } %}
</div>

</body>
</html>
