<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Détails de l'Article</title>
    <!-- Ajoutez vos liens vers les fichiers CSS ici -->
    <link rel="stylesheet" href="assets/css/Article.css">
</head>

<body>

    {% include './header.html.twig' %}
    </nav>
    <!-- Close Header -->
    <h1 class="titre_paragraphe">{{ article.getTitle() }}</h1>
    <p>{{ article.getDescription() }}</p>

    {% for contenu in article.getContenus() %}
        {% if contenu.getTypeContenu() == 'paragraphe' %}
            <div class="paragraphe">
                <h2 class="titre_paragraphe">{{ contenu.getTitre() }}</h2>
                <p class="texte_paragraphe">{{ contenu.getTexte() }}</p>
            </div>
        {% endif %}
    {% endfor %}
    


    <p> coucou </p>


    {% include './footer.html.twig' %}
<!-- Ajoutez vos scripts JavaScript ici -->

</body>

</html>
