<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{ data.titre }}</title>
</head>

<body>

  <div class="view">
    {% for bloc in blocs %}
      {% if bloc.type == 'paragraphe' %}
        {% include './blockParagraphe.html' with bloc.data %}
      {% elseif bloc.type == 'image' %}
        {% include './blockImage.html' with bloc.data %}
      {% elseif bloc.type == 'video' %}
        {% include './blockVideo.html' with bloc.data %}
      {% endif %}
    {% endfor %}
  </div>

</body>
</html>
