<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Détails de l'Article</title>
    <!-- Ajoutez vos liens vers les fichiers CSS ici -->
</head>

<body>

    {% include './header.html.twig' %}
    </nav>
    <!-- Close Header -->
    <h1>{{ article.getTitle() }}</h1>
    <p>{{ article.getDescription() }}</p>

    {% for contenu in article.getContenus() %}
        {% if contenu.getTypeContenu() == 'paragraphe' %}
            <div class="block-article paragraphe-block">
                <h2>{{ contenu.getTitre() }}</h2>
                <p>{{ contenu.getTexte() }}</p>
            </div>
        {% endif %}
    {% endfor %}
    



    {% include './footer.html.twig' %}
<!-- Ajoutez vos scripts JavaScript ici -->

</body>

</html>
