<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Détails de l'Article</title>
    <!-- Ajoutez vos liens vers les fichiers CSS ici -->
    <link rel="stylesheet" href="assets/css/Article.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>

<body>

    {% include './header.html.twig' %}
    </nav>
    <!-- Close Header -->

    <div class="infos_article">
        <h1 class="titre_article">{{ article.getTitre() }}</h1>
        <p class="description">{{ article.getDescription() }}</p>
    
        <div class="lectureAuteurDate">
            <div class="tempsLecture">
                <p class="titre_tempsLecture"> Temps de lecture : </p>
                <p class="valeur_tempsLecture">  {{ article.getTemps() }} min.</p>
            </div>
        
            <div class="auteur">
                <p class="titre_auteur"> Auteur : </p>
                <p class="valeur_auteur">  {{ article.getAuteur() }}</p>
            </div>

            <div class="date">
                <p class="titre_date"> Date de publication : </p>
                <p class="valeur_date">  {{ article.getDate() }}</p>
            </div>
        </div>
    </div>

    

    <div class="corpsArticle">

        <div class="mainImageArticle">
            <img  class = "imgMainArticle" src="{{ article.getImagePrincipale() }}" alt="Image principale article">
        </div>

        {% for contenu in article.getContenus() %}
        {% if contenu.getTypeContenu() == 'paragraphe' %}
            <div class="paragraphe">
                <h2 class="titre_paragraphe">{{ contenu.getTitre() }}</h2>
                <div class="barreTitre"></div>
                <p class="texte_paragraphe">{{ contenu.getTexte() }}</p>
            </div>
        {% endif %}

        {% if contenu.getTypeContenu() == 'image' %}
            <div class="contenuImage">


                <img class ="contenuImageBloc" src="{{ contenu.getLien() }}">
                <p class="contenuImageTitre"> {{ contenu.getTitre() }} </p>
            </div>
        {% endif %}

        {% if contenu.getTypeContenu() == 'video' %}
            <div class="contenuImage">



                <iframe width="500" height="320" src="{{ contenu.getLien }}" allowfullscreen></iframe>
                <p class="contenuImageTitre"> {{ contenu.getTitre() }} </p>
            </div>
        {% endif %}

    {% endfor %}

    </div>

    <div class="avis-class">
        <h4>Cette Article vous a-t-il plu ?</h4>
        <div class="avis-class-bouton">
            <form action="index.php?action=GoodReview" method="POST">
                <button type="submit" class="avis-button">
                    <img src="assets/img/like.png" alt="Like">
                </button>
                <input type="hidden" name="id" value="{{ article.getId() }}">
            </form>
            <h5>{{ article.getNote() }}</h5>
            <form action="index.php?action=BadReview" method="POST">
                <button type="submit" class="avis-button">
                    <img src="assets/img/dislike.png" alt="Dislike">
                </button>
                <input type="hidden" name="id" value="{{ article.getId() }}">
            </form>
        </div>
    </div>

    <div class="signalement-container">

        <button id="signalementBtn" class="signalement-btn">
            <img src="assets/img/Gray_flag_waving.png" alt="Icone Signalement">
            Signaler
        </button>        <!-- Popup de signalement -->
        <div id="signalementPopup" class="signalement-popup">
            <div class="signalement-content">
                <span class="close  ">&times;</span>
                <form action="index.php?action=ReportArticle" method="post">
                    <textarea name="motif" placeholder="Décrivez le problème..." required></textarea>
                    <input type="hidden" name="articleId" value="{{ article.getId() }}">
                    <input type="submit" value="Envoyer">
                </form>
            </div>
        </div>
    </div>


    <script>
        // Obtenez le bouton qui ouvre le popup
        var btn = document.getElementById("signalementBtn");

        // Obtenez le popup lui-même
        var popup = document.getElementById("signalementPopup");

        // Obtenez l'élément <span> qui ferme le popup
        var span = document.getElementsByClassName("close")[0];

        // Lorsque l'utilisateur clique sur le bouton, ouvrez le popup
        btn.onclick = function() {
            popup.style.display = "block";
        }

        // Lorsque l'utilisateur clique sur <span> (x), fermez le popup
        span.onclick = function() {
            popup.style.display = "none";
        }

        // Lorsque l'utilisateur clique n'importe où en dehors du popup, fermez-le
        window.onclick = function(event) {
            if (event.target == popup) {
                popup.style.display = "none";
            }
        }
    </script>





    {% include './footer.html.twig' %}
<!-- Ajoutez vos scripts JavaScript ici -->

</body>

</html>
