<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    ,<link rel="stylesheet" href="assets/css/cmptUser.css" />
    <link rel="stylesheet" href="assets/css/adminNav.css" />
    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <link rel="stylesheet" href="assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">

    <!-- Load map styles -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />

</head>
<body>
{% include './header.html.twig' %}

<!-- Header -->
<!-- Close Header -->
<div class="container">
    <h1>Mon Compte</h1>
    {% if utilisateur is not empty %}
    <div class="section">
        <div class="section-header">Profil Utilisateur</div>
        <div class="section-content">
            <div class="col">
                <label>Prénom:</label>
                <div class="box">
                    <span>{{ utilisateur.prenom }}</span>
                </div>
                <label>Nom:</label>
                <div class="box">
                    <span>{{ utilisateur.nom }}</span>
                </div>
                <label>Email:</label>
                <div class="box">
                    <span>{{ utilisateur.mail }}</span>
                </div>
            </div>
            <div class="col">
                <label>Pseudo:</label>
                <div class="box">
                    <span>{{ utilisateur.pseudo }}</span>
                </div>
            </div>
        </div>
    </div>
    <form class="ban-form" action="index.php?action=DeleteProfil" method="POST" onsubmit="return popUpDeConfirmation('{{ utilisateur.pseudo }}')">
        <input type="hidden" name="id" value="{{ utilisateur.pseudo }}">
        <input type="submit" value="SUPPRIMER PROFIL">
    </form>
    <div id="confirmationPopup" class="confirmation-popup">
        <form id="banConfirmationForm" action="index.php?action=DeleteProfil" method="POST" onsubmit="return envoyeBan()">
            <input type="hidden" name="id" id="pseudoInput">
            <label for="messageInput">Confirmer l'action :</label>
            <input type="submit" value="Confirmer la suppression">
            <button type="button" onclick="masquageConfirmationPopup()">Annuler</button>
        </form>
    </div>
    {% endif %}
</div>
<script>
    function popUpDeConfirmation(pseudo) {
        document.getElementById('pseudoInput').value = pseudo;
        document.getElementById('confirmationPopup').style.display = 'block';
        return false; // Prevents the form from submitting immediately
    }

    function masquageConfirmationPopup() {
        document.getElementById('confirmationPopup').style.display = 'none';
    }

    function envoyeBan(){
        // Set the value of the hidden "motif" input with the content of the message input
        var messageContent = document.getElementById('messageInput').value;
        document.getElementById('motifInput').value = messageContent;
        return true; // Allow the form to be submitted
    }

    function envoyeRole(){
        // Set the value of the hidden "motif" input with the content of the message input
        var role = document.getElementById('roleSelect').value;
        document.getElementById('roleInput').value = role;
        return true; // Allow the form to be submitted
    }

    function showRoleManagementModal(pseudo) {
        document.getElementById('pseudoInputRole').value = pseudo;
        document.getElementById('roleManagementModal').style.display = 'block';
        return false; // Prevents the form from submitting immediately
    }

    function hideRoleManagementModal() {
        document.getElementById('roleManagementModal').style.display = 'none';
    }
</script>
</body>
</html>