<!DOCTYPE html>
<html lang="en">

{% include './header.html.twig' %}

    <div class="bg-dark" id="beige-div">.</div>

    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card-body">
                                <a href="shop.html" class="h3 text-decoration-none">Dîner avec Charles III à Versailles : Combien a coûté le repas avec le roi ? </a>
                            </div>
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="assets/img/fnRepasCharlesMacron.webp">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white" href="shop.html"><i class="far fa-heart"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="shop.html"><i class="far fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div><p> chrono + date </p> </div>
                        </div>
                    </div>
<div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card-body">
                                <a href="shop.html" class="h3 text-decoration-none">Dîner avec Charles III à Versailles : Combien a coûté le repas avec le roi ? </a>
                            </div>
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="assets/img/fnRepasCharlesMacron.webp">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white" href="shop.html"><i class="far fa-heart"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="shop.html"><i class="far fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div><p> chrono + date </p> </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card-body">
                                <a href="shop.html" class="h3 text-decoration-none">Dîner avec Charles III à Versailles : Combien a coûté le repas avec le roi ? </a>
                            </div>
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="assets/img/fnRepasCharlesMacron.webp">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white" href="shop.html"><i class="far fa-heart"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="shop.html"><i class="far fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div><p> chrono + date </p> </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card-body">
                                <a href="shop.html" class="h3 text-decoration-none">Dîner avec Charles III à Versailles : Combien a coûté le repas avec le roi ? </a>
                            </div>
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="assets/img/fnRepasCharlesMacron.webp">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white" href="shop.html"><i class="far fa-heart"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="shop.html"><i class="far fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div><p> chrono + date </p> </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card-body">
                                <a href="shop.html" class="h3 text-decoration-none">Dîner avec Charles III à Versailles : Combien a coûté le repas avec le roi ? </a>
                            </div>
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="assets/img/fnRepasCharlesMacron.webp">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white" href="shop.html"><i class="far fa-heart"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="shop.html"><i class="far fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div><p> chrono + date </p> </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card-body">
                                <a href="shop.html" class="h3 text-decoration-none">Dîner avec Charles III à Versailles : Combien a coûté le repas avec le roi ? </a>
                            </div>
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="assets/img/fnRepasCharlesMacron.webp">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white" href="shop.html"><i class="far fa-heart"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="shop.html"><i class="far fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div><p> chrono + date </p> </div>
                        </div>
                    </div>
                </div>
                <div div="row">
                    <ul class="pagination pagination-lg justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#" tabindex="-1">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- End Content -->

{% include './footer.html.twig' %}

</body>

</html>