<!DOCTYPE html>
<html lang="en">

{% include './header.html.twig' %}

    <div class="bg-dark" id="beige-div">.</div>

    <!-- Start Content -->
    <div class="container py-5">


        {% for key, article in articles %}



        <div class="container">
            <div class="row p-5">
                <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                    <img class="img-fluid" src="{{ article.getImagePrincipale() }}" alt="">
                </div>
                <div class="col-lg-6 mb-0 d-flex align-items-center">
                    <div class="text-align-left align-self-center">
                        <h1 class="h1 text-success"><b>{{ article.getTitre() }}</b></h1>
                        <h3 class="h2">{{ article.getDescription() }}</h3>
                        {# <p>{{ article.getContenus()|raw }}</p> #}

                        <div class="divCategorie">

                            <p>{{article.getCategorie()}}</p>

                        </div>

                        <form method="post" action="index.php?action=afficherArticle">
                            {# <p> test </p> #}
                            <input type="hidden" name="articleId" value="{{ article.getId() }}">
                            <input type="submit" value="Voir l'article">
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>





        {% endfor %}
    </div>
    <!-- End Content -->

{% include './footer.html.twig' %}

</body>

</html>

<style>

    .divCategorie {

        margin-top:  5px;
        padding-top: 0.6vh;

        font-size: bold;
        font-family: Arial;
        font-size: 2vh;

        background-color: #F99E9E;

        border-radius: 30px;

        width: 18vh;
        height: 4.3vh;

        text-align: center;

        margin-bottom: 3vh;


    }

</style>