<!DOCTYPE html>
<html lang="en">

<head>
    <title>Verax</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/css/adminNav.css">


</head>

<body>
<!-- Nav Admin -->
<div class="navAdmin">
    <form action="index.php?action=SujetSoumis" method="POST">
        <input type="submit" class="page-header" value="Sujets Soumis">
    </form>
    <a href="#about">Sujets a valides</a>
    <a href="#about">Rediger un articles</a>
    <form action="index.php?action=ListReport" method="POST">
        <input type="submit" class="page-header" value="Signalements">
    </form>
    <form action="index.php?action=GestionUser" method="POST">
        <input type="submit" class="page-header" value="Liste des Utilisateurs">
    </form>
    <a href="#about" >Actions des Moderateurs</a>
    <a href="#about" >Bureau Clients</a>
</div>

</body>
</html>