<!DOCTYPE html>
<html lang="en">

<head>
    <title>Verax</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/templatemo.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">

</head>

<body>
<!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <a class="navbar-brand text-success logo h1 align-self-center" href="/" >Verax</a>
    </nav>
    <!-- Close Top Nav -->

    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container d-flex justify-content-between align-items-center">

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                {% if userRole != 'Visiteur' and userRole != null %}
                    <div>
                        <form action="index.php?action=AccessAccount" method="POST">
                            <input type="submit" class="page-header" value="Compte">
                        </form>
                    </div>
                {% endif %}

                {% if userRole == 'Visiteur' or userRole == null%}
                <div>
                    <form action="index.php?action=seConnecter" method="POST">
                            <input type="submit" class="page-header" value="Connexion">
                    </form>
                </div>
                {% endif %}
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">

                        <li class="nav-item">
                            <form action="index.php?action=economie" method="POST">
                                <input type="submit" class="page-header" value="Economie">
                            </form>
                        </li>

                        <li class="nav-item">
                            <form action="index.php?action=culture" method="POST">
                                <input type="submit" class="page-header" value="Culture">
                            </form>
                        </li>
                        <li class="nav-item">
                            <form action="index.php?action=politique" method="POST">
                                <input type="submit" class="page-header" value="Politique">
                            </form>
                        </li>

                        <li class="nav-item">
                            <form action="index.php?action=faitsDivers" method="POST">
                                <input type="submit" class="page-header" value="Environnement">
                            </form>
                        </li>
                        
                        <li>
                            {% if userRole == 'Admin'%}
                                <form action="index.php?action=Administrer" method="POST">
                                    <input type="submit" class="page-header" value="Admin">
                                </form>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="nav-item ml-auto">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">

                        {% if userRole != 'Visiteur' and userRole != null%}
                            <li>
                                <form action="index.php?action=AccessForm" method="POST">
                                    <input type="submit" class="page-header" value="Contact">
                                </form>
                            </li>
                            <li>
                                <form action="index.php?action=Disconnect" method="POST">
                                    <input type="submit" class="page-header" value="Se déconnecter">
                                </form>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Recherchez votre Article">
                            <div class="input-group-text">
                                <i class="fa fa-fw fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
<!-- Close Header -->
</body>
</html>